#left-body-wrapper{
    background: #E7DFD2;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    margin-left: 5rem;
    @media (max-width: 720px) {
        margin: 0;
        width: 100%;
    }
}

#left-body-wrapper > img{
    width: 250px;
    height: auto;
    @media (max-width: 720px) {
        width: 100%;
        height: auto;
    }
}

#left-body-wrapper > .team-member-description{
    width: 200px;
    border: 1px solid black;
    margin-bottom: 1em;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 0.5rem;
    @media (max-width: 720px) {
        margin-left: 1rem;
        width: 300px;
    }
}

#left-body-wrapper > .team-member-description .team-member-name-area{
    display: flex;
    flex-direction: column;
}

#left-body-wrapper > .team-member-description .team-member-name-area .years{
    font-size: 10px;
    color: #B1976B;
    letter-spacing: 3px;
    font-weight: bold;
    font-family: Arial, sans-serif;
}

#left-body-wrapper > .team-member-description .team-member-name-area .name{
    font-weight: bold;
    font-family: Arial, sans-serif;
    letter-spacing: 2px;
}

#left-body-wrapper > .team-member-description p{
    font-family: 'Franklin Gothic Medium', 'sans-serif';
    font-size: 15px;
    line-height: 2;
}

#left-body-wrapper > .team-member-description .team_member_details p{
    font-weight: bold;
    font-family: Arial;
    margin: 0;
}

#left-body-wrapper > .team-member-description .team_member_details > span {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 0.5rem;
    font-family: cursive;
    @media (min-width: 721px) {
        font-size: 12px;
    }
}