body{
  min-height: 100vh;
  margin: 0;
  width: 100%;
}

#footer-wrap{
  background: #B1976B;
  min-height: 10rem;
  margin-top: auto;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: wrap;
  gap: 5rem;
  padding: 2rem 3rem;
}

#footer-wrap > div{
  max-width: 20rem;
  padding-right: 1rem;
}