body{
  min-height: 100vh;
  margin: 0;
  width: 100%;
}

.App {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

#footer-wrap{
  background: #B1976B;
  color: white;
  min-height: 10rem;
  margin-top: auto;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: wrap;
  gap: 5rem;
  margin-bottom: 0;
  padding: 2rem 3rem;
}